.face {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: rgb(224, 154, 22);
}

.mouth {
  height: 75px;
  width: 200px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: brown;
  position: absolute;
  top: 250px;
  left: 100px;
}

.eyes {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 100px;
  left: 100px;
}

.right {
  position: absolute;
  left: 250px;
}
